# NEXT_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-public-key

NEXT_PUBLIC_SUPABASE_URL=https://avbfzmsmteqyylebhbjf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2YmZ6bXNtdGVxeXlsZWJoYmpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxNjc1MDEsImV4cCI6MjEwMzc0MzUwMX0.YFgG-4hLmBE8U8km8iQcPdGqDQiFBP_uAiBraOiLaF4
